@font-face {
  font-family: 'Roboto Slab';
  src: url('Fonts/RobotoSlab-Bold.ttf') format('truetype');
}

.h1 {
  font-size: 2.65em;
}

.h2 {
  font-size: 2.00em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2 {
  font-family: 'Roboto Slab'
}

body {
  margin: auto;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
}

.title-link {
  text-decoration: none;
}

.title-text {
  color: white;
  margin-top: 5px !important;
  margin-bottom: 10px;
}

.red-link-text {
  text-decoration: none;
  color: #ab3c3c;
}

.red-title {
  color: #ab3c3c;
}

/* Styling Heating And Air Conditioning services Section */
.heating-and-air-conditioning-services-section {
  background-color: #314b57;
  color: white;
  height: 225px;
}

.heating-and-air-conditioning-services-section .container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.heating-and-air-conditioning-services-text-and-map-container {
  display: flex;
  column-gap: 15px;
}

.heating-and-air-conditioning-services-1st-column {
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
}

.heating-and-air-conditioning-services-1st-column h3 {
  padding: 0px;
  margin: 10px 0px;
}

.circular-image {
  width: 140px;
  height: 140px;
}

.heating-and-air-conditioning-services-images-with-links-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  text-align: center;
}

.map-image {
  width: 100%;
  height: auto;
}

/* Responsive design for smaller screens */
@media only screen and (min-width: 1019px) {
  .map-image {
      max-height: 225px;
  }
}

@media only screen and (max-width: 1018px) {
  .heating-and-air-conditioning-services-section {
      height: fit-content;
  }

  .heating-and-air-conditioning-services-images-with-links-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
  }

  .map-container {
      display: flex;
      align-items: center;
  }

  .heating-and-air-conditioning-services-text-and-map-container {
      column-gap: 50px;
  }
}

@media only screen and (max-width: 700px) {
  .heating-and-air-conditioning-services-text-and-map-container {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
  }

  .map-container {
      display: flex;
      justify-content: center;
      margin-bottom: -4px;
  }
}


@media only screen and (max-width: 500px) {
  .heating-and-air-conditioning-services-text-and-map-container {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
  }

  .heating-and-air-conditioning-services-images-with-links-container {
      grid-template-columns: 1fr;
  }
}

/* Styling Service Area Section */
.service-area-section .container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.service-area-section h1 {
  text-align: left;
  color: #ab3c3c;
  margin: 5px 0px;
}

.service-area-container {
  display: grid;
  grid-template-columns: 0.86fr 1.9fr auto;
  column-gap: 0px;
  row-gap: 20px;
}

.service-area-container img {
  width: 100%;
  height: auto;
}

.service-area-container .text-column {
  padding-left: 30px;
  padding-right: 10px;
}

.service-area-container .text-column p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-top: 0px;
}

.service-area-container .text-column .service-area-links-container {
  display: flex;
  flex-direction: column;
}

.service-area-container .text-column .service-area-links-container a {
  font-size: 14px;
  color: #ab3c3c;
  line-height: 1.6;
  text-decoration: none;
}

/* Responsive design for smaller screens */
@media only screen and (max-width: 1024px) {
  .service-area-container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
  }

  .service-area-container .text-column {
      padding: 0px;
  }
}

@media only screen and (max-width: 700px) {
  .service-area-container {
      grid-template-columns: 1fr;
  }
}

/* Styling Article Section */
.articles-section .container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.articles-section {
  padding-top: 40px;
}

.articles-section h2 {
  text-align: left;
  color: #ab3c3c;
  margin-bottom: 20px;
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.articles-container article {
  text-align: left;
  height: 100%;
  padding-bottom: 7px;
}

.articles-container article img {
  width: 100%;
  height: auto;
}

.articles-container article p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 10px;
  margin-top: 0px;
}

.article-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 120px;
}

.articles-container article a {
  color: #ab3c3c;
}

/* Responsive design for smaller screens */
@media only screen and (max-width: 1024px) {
  .articles-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  .articles-container {
      grid-template-columns: 1fr;
  }

  .article-text-container {
      min-height: 90px;
  }
}

@media only screen and (max-width: 400px) {
  .article-text-container {
      min-height: 100px;
  }
}